body{
	width: 100%;
	padding: 0;
	margin :0;
	overflow: hidden;
 
}
img{
	display: block;
	max-width: 100%;
}
 
#coming-soon{
	position: relative;
}
 #coming-soon > img{
 	
 	    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
 }
 .overlay{
 	    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(21, 77, 90, 0.56);
    z-index: 0;
 }
 .coming-soon{
 	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: hidden;
    width: 430px
 }
 .coming-soon img{
 	   width: 60%;
    margin: 0 auto;
 }
 .coming-soon h1{text-transform: uppercase;
    font-size: 50px;
    display: inline;
    color: #0e2107;
    font-weight: bolder;}

 .coming-soon a
               {font-size: 20px;
    text-transform: uppercase;
    margin: 10px 20px;
    display: inline-block;
    text-decoration: none;
    background: #1a359c;
    padding: 10px;
    color: #fbf6ee;
    border-radius: 5px;
    transition: all 0.4 ease;
 -webkit-transition: all 0.4 ease;
-moz-transition: all 0.4 ease;
  -o-transition: all 0.4 ease;}


 .coming-soon p{font-size: 20px;
    text-transform: uppercase;
    color: #0e0707}

  .coming-soon a:hover{
  	background:#0a3dff
  	;
  }  
                 /*first step finish*/

.manuarea{    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border: 1px solid black;
}
ul.nav {
	margin: 0;
	padding: 0;
}
ul.nav li{
	text-align: center;
	    border-bottom: 1px solid black;
}
ul.nav li a{
	  display: block;
   padding: 20px 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 8px;
}
ul.nav li a i{
	display: block;
}
 


ul.social{
		position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
}
ul.social li{

	text-align: center;
    border-top: 1px solid black;
}
ul.social li a{
	   display: block;
   padding: 20px 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 8px;
}
ul.social li a i{
	display: block;
}
.nav li a:hover{
	background: #1a359c;
	display: block;
}
.social li a:hover{
	background: #1a359c;
	display: block;

}
.social li a:last-child{
	background:#15900957;
}
